/*=============================================
=                     bio                   =
=============================================*/

.photograph-header {
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    background-color: #FAFAFA;
}

.photograph-header h1 {
    color: #DB8876
}

.photograph-header__presentation {
    min-height: 200px;
}

.presentationTextDiv :first-child {
    color: #901C1C;
}

.presentationTextDiv :last-child {
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 30px;
}

.contact_button:hover {
    background-color: #DB8876;
    color: #000;
}

.photographer_section_picture,
.photograph-header__picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*=============================================
=                    filter                 =
=============================================*/
#filterContainer {
    margin-bottom: 40px;
    margin: 40px 100px;
    padding: 0 4%;
}

.select-wrapper {
    display: inline-block;
    position: relative;
}

.select-wrapper:before {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.5em;
    top: 50%;
    right: 20px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
    z-index: 2
}

#filter {
    background-color: #901C1C;
    color: #fff;
    border-radius: 5px;
    width: 170px;
    height: 69px;
    position: relative;
    font-size: 18px;
    font-weight: bold;

}

.old-select {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.new-select-wrapper {
    margin: 40px 100px;
    padding: 0 6%;
    display: flex;
    justify-content: flex-start;
}

.new-select {
    width: 170px;
    height: 70px;
    /* margin: auto; */
    margin-top: 50px;
    text-align: center;
    color: #fff;
    background-color: #901C1C;
    border-radius: 5px;
    line-height: 50px;
    position: relative;
    margin-bottom: 40px;
    /* margin: 40px calc(100px + 4%); */
    font-size: 20px;
    font-weight: bold;
}

.new-select-label {
    position: absolute;
    left: -55%;
    top: -10px;
    color: #000;
}

.new-select .selection:active {
    background-color: #901C1C;
}

.new-select .selection {
    width: 100%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 20;
    background-color: #901C1C;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-select .selection.open {
    border-radius: 5px 5px 0 0;
    position: relative;
    background-color: transparent;
}

.new-select .selection.open::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #fff;
    z-index: 20;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 0 70px 0 0 #fff;
}


.new-select .selection p {
    width: calc(100% - 60px);
    position: relative;
    margin: 0 0 0 16px;
    text-align: left;
}

.new-select .selection:hover p,
.new-select .selection.open p {
    color: #fff;
}

.new-select .selection>span {
    display: block;
    width: 16px;
    height: 10px;
    border-style: solid;
    border-width: 14px 8px 0 8px;
    content: url(../assets/icons/arrow.svg);
    position: absolute;
    top: 16px;
    right: 10px;
    background: transparent;
    color: #901C1C;
}

.new-select .selection.open>span {
    display: block;
    width: 16px;
    height: 10px;
    border-style: solid;
    border-width: 0 8px 14px 8px;
    content: url(../assets/icons/arrow.svg);
    position: absolute;
    top: 16px;
    right: 10px;
    transform: rotate(180deg);
    background: transparent;
    color: #901C1C;
}

.new-option {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 1px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #901C1C;
    border-radius: 5px;
}

.new-option p {
    width: calc(100% - 60px);
    margin: -1px;
    text-align: left;
    padding-left: 16px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-option.reveal:hover {
    background-color: #DB8876;
    color: #f5f5f5;
}

.new-option.reveal {
    border-bottom: none;
    border-radius: 0;
}

.new-option:focus {
    background-color: blue;
}

.new-option.reveal:last-of-type {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

/* .new-option.reveal::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #fff;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
} */

.hideCurrentOption {
    width: 0;
}

.hiddenItem {
    display: none;
}

/*=============================================
=                  portfolio                  =
=============================================*/

.portfolio {
    display: grid;
    grid-gap: 20px;
    margin: 0 100px;
    padding: 0 4% 60px 0;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    justify-items: center;
}

.portfolio_mediaContainer {
    height: 350px;
    width: 350px;
    padding: 0 20px;
    padding-bottom: 40px;
}

.portfolioMediaContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio_mediaContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.portfolio_mediaContainer h2,
.portfolio_mediaContainer p {
    display: inline-block;
    color: #901C1C
}

.portfolio_mediaContainer p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}

.portfolio_mediaContainer p span {
    margin-left: 10px;
}

.portfolio_picture,
.portfolio_video {
    height: 300px;
    width: 350px;
    object-fit: cover;
}

/*=============================================
=             contact modal                  =
=============================================*/

#contact_modal {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

input,
textarea {
    font-size: 24px;
}

.contact_button:hover {
    background-color: rgb(144, 28, 28, 0.8);
}

/*=============================================
=                   slider                   =
=============================================*/

#slider_modal {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: none;
    overflow: hidden;

}

#slider_modal .modal {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider_modal .closeBtn {
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    width: 30px;
}

#slider_modal header {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#slider_modal .content {
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
    width: 100vw;
}

.sliderBtn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}


#prevBtn::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    top: 55%;
    left: 0;
    transform-origin: left;
    transform: translateY(-50%) rotate(-45deg);
    background-color: #901C1C;
}

#prevBtn::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    background-color: #901C1C;
    transform-origin: left;
}


#nextBtn::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    top: 55%;
    right: 0;
    transform-origin: right;
    transform: translateY(-50%) rotate(45deg);
    background-color: #901C1C;
}

#nextBtn::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    top: 50%;
    right: 0;
    transform-origin: right;
    transform: translateY(-50%) rotate(-45deg);
    background-color: #901C1C;
}

#mediaContainer {
    height: 100%;
    max-width: 1050px;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.media {
    cursor: pointer;
}

.mediaModal {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#mediaTitle {
    position: absolute;
    bottom: -10px;
    left: 20px;
    color: #901C1C;
}

/*=============================================
=                informations                 =
=============================================*/

.informationdiv {
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #DB8876;
    width: 380px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 5px 5px 0 0;
    z-index: 10;
}

.informationdiv>span {
    display: flex;
    align-items: center;
}

.informationDiv_imgHeart {
    margin-left: 5px;
}


/*=============================================
=                    Element                 =
=============================================*/

.heart {
    cursor: pointer;
}

.heart:hover {
    transform: scale(1.1);
}

.heart.active {
    content: url(../assets/icons/heart-chestnut.svg);
}

/*=============================================
=                    RWD                     =
=============================================*/
@media screen and (max-width: 1440px) {
    .photograph-header {
        margin: 0 4%
    }

    .filterContainer {
        margin: 0 4%
    }

    .portfolio {
        margin: 0 4%;
    }

    #filterContainer {
        margin: 40px 4%;
    }

    /* contact_modal */

    ::-webkit-scrollbar {
        display: none;
    }

    #contact_modal .modal {
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        height: 90vh;
    }

    #contact_modal .modal header {
        margin-top: 20px;
        margin-bottom: 2em;
    }

    #contact_modal .modal header h2 {
        font-size: 3em;
        font-size: 1.8em;
        margin-top: 0;
        width: 100%;
    }

    #contact_modal .closeBtn {
        right: 40px;
        position: absolute;
    }

    form div {
        margin-bottom: 80px;
    }

    form label {
        font-size: 2em;
    }

    .new-select-wrapper {
        padding: 0 4%;
    }

    @media screen and (max-width:830px) {

        /* presentation */

        .photograph-header {
            height: unset;
            flex-direction: column-reverse;
        }

        .photograph-header__presentation {
            min-height: unset;
            text-align: center;
        }

        .photograph-header {
            padding: 4%;
        }

        .contact_button {
            margin: 8% 0 0 0;
        }

        /* filter */

        #filterContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px;
        }

        #filterContainer>label {
            margin-bottom: 5px;
        }


        /* informations */

        .informationdiv {
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
        }

        /* portfolio */
        .portfolio {
            display: flex;
            flex-direction: column;
            padding: 0 0 60px 0;
        }

        .portfolio_mediaContainer {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }

        .portfolio:last-child {
            margin-bottom: 30px;
        }

        .portfolio_picture,
        .portfolio_video {
            width: 100%;
        }


        /* slider */
        #slider_modal .content {
            flex-direction: column;
            height: 100vh;
            width: 100%;
        }

        #slider_modal .closeBtn {
            width: 25px;
            top: 38px;
            right: 25px;
        }

        #prevBtn {
            align-self: flex-start;
        }

        #nextBtn {
            align-self: flex-end;
        }

        #mediaContainer {
            height: 100%;
            height: 60vh;
            padding: 0;
        }

        #slider_modal .mediaModal {
            height: auto;
            height: 100%;
        }

        #mediaTitle {
            bottom: -30px;
            left: 0;
        }

        .new-select {
            margin: 40px auto;
        }
    }
}