/*=============================================
=                     bio                   =
=============================================*/

.photograph-header {
    height: 300px;
    margin: 0 100px;
    padding: 0 4%;
    border-radius: 5px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photograph-header h1 {
    margin-right: 0;
    font-size: 2.5em;
    color: #D3573C;
}

.photograph-header_presentation-text span {
    display: block;
}

.photograph-header_presentation-text :first-child {
    font-size: 1.2em;
    color: #901C1C;
}

.photograph-header_presentation-text :last-child {
    margin-top: 15px;
    color: #525252;
}

/* button */

.contact_button {
    width: 170px;
    height: 70px;
    margin: 0 30px;
    font-size: 1.125em;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header_contact_button:hover,
.photograph-header_contact_button:focus-visible {
    outline: none;
    background-color: #DB8876;
    color: #000;
}

/* picture */

.photograph-header_picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*=============================================
=                    filter                 =
=============================================*/

.old-select {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
}

/* select customisé */

.new-select-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 70px 100px;
}

.new-select-label {
    font-size: 1.1em;
    font-weight: bold;
}

.listboxContainer {
    position: absolute;
    top: -22px;
    left: 90px;
    z-index: 10;
}

.listbox {
    width: 170px;
    border-radius: 5px;
    color: #fff;
    line-height: 68px;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.listbox::after {
    position: absolute;
    content: "";
    height: 70px;
    width: 100%;
    background-color: #901C1C;
    border-radius: 5px;
    z-index: -1;
    overflow: hidden;
}

.listbox:focus,
.listbox:focus-visible {
    outline: none;
    border: 4px solid #D3573C;
    background-color: #DB8876;
}

.listbox.open:focus,
.listbox.open:focus-visible {
    outline: none;
    border: none;
}

.listbox.open {
    position: relative;
}

.listbox.open::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 70px 0 0 #fff;
    z-index: 10;
}

.listbox.open::after {
    height: 210px;
    box-shadow: 2px 2px 10px #525252;
}

.listbox p {
    width: calc(100% - 16px);
    position: relative;
    margin-left: 16px;
}

/* arrow */

.listbox>span {
    display: block;
    content: url(../assets/icons/arrow.svg);
    width: 30px;
    height: 25px;
    position: absolute;
    top: 16px;
    right: 10px;
    border-style: solid;
    border-width: 14px 8px 0 8px;
    color: transparent;
    z-index: 10;
}

.listbox.open>span {
    border-width: 0 8px 14px 8px;
    transform: rotate(180deg);
}

/* options */

.new-option {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #901C1C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: -1;
    cursor: pointer;
}

.new-option p {
    height: 70px;
}

.new-option.reveal {
    position: unset;
    z-index: 0;
}

.new-option.reveal:last-of-type {
    border-radius: 0 0 5px 5px;
}

.new-option.reveal:hover,
.new-option.reveal:focus-visible {
    outline: none;
    border: 4px solid #D3573C;
    border-radius: 0;
    z-index: 50;
}

.hideCurrentOption {
    position: absolute;
    top: 0;
    visibility: hidden;
}

/*=============================================
=                  portfolio                  =
=============================================*/

.portfolio {
    display: grid;
    grid-gap: 20px;
    margin: 0 4% 100px;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    justify-items: center;
}

.portfolio li {
    margin-bottom: 20px;
}

.portfolio_media-container {
    height: 350px;
    width: 350px;
    padding-bottom: 40px;
}

.portfolio_media-informations {
    display: flex;
    justify-content: space-between;
}

.portfolio_media-container h2,
.portfolio_media-container p {
    display: inline-block;
    margin-top: 10px;
    color: #901C1C
}

.portfolio_media-container p {
    display: inline-flex;
    align-items: center;
    line-height: 10px;
}

.portfolio_media-container p span {
    margin-left: 10px;
}

.portfolio_picture,
.portfolio_video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    cursor: pointer;
}

/*=============================================
=             contact modal                  =
=============================================*/

[role="dialog"] div[role=document] {
    display: inline-block;
}

[role="dialog"][hidden] {
    visibility: hidden;
}

.invisible {
    display: none;
}

.visible {
    display: flex;
}

.hiddenElement {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

#contact_modal .modal {
    width: 100%;
    max-width: 600px;
    background-color: #DB8876;
    padding: 3%;
    border-radius: 5px;
}

#contact_modal {
    height: 100%;
    width: 100%;
    padding: 35px;
    background-color: rgb(250, 250, 250, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8%;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #000;
    text-align: left;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2em;
    margin-bottom: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 2.2em;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

input,
textarea {
    font-size: 1.5em;
}

.formData {
    margin-bottom: 10px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #901C1C;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #901C1C;
}

input.error,
textarea.error {
    border: 4px solid #901C1C;
}

form .contact_button {
    margin: 0;
}

form .contact_button:hover {
    transform: scale(0.98);
}

/*=============================================
=                   slider                   =
=============================================*/

#slider_modal {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
}

#slider_modal .modal {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider_modal .content {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
}

#slider_modal .closeBtn {
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    width: 1.875em;
}

.sliderBtn {
    display: inline-block;
    width: 3.75em;
    height: 3.75em;
    margin: 1.25em;
    cursor: pointer;
    position: relative;
}

#prevBtn::before {
    content: "";
    position: absolute;
    width: 1.875em;
    height: 0.313em;
    top: 55%;
    left: 0;
    transform-origin: left;
    transform: translateY(-50%) rotate(-45deg);
    background-color: #901C1C;
}

#prevBtn::after {
    content: "";
    position: absolute;
    width: 1.875em;
    height: 0.313em;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    background-color: #901C1C;
    transform-origin: left;
}

#nextBtn::before {
    content: "";
    position: absolute;
    width: 1.875em;
    height: 0.313em;
    top: 55%;
    right: 0;
    transform-origin: right;
    transform: translateY(-50%) rotate(45deg);
    background-color: #901C1C;
}

#nextBtn::after {
    content: "";
    position: absolute;
    width: 1.875em;
    height: 0.313em;
    top: 50%;
    right: 0;
    transform-origin: right;
    transform: translateY(-50%) rotate(-45deg);
    background-color: #901C1C;
}

#mediaContainer {
    height: 100%;
}

video {
    cursor: pointer;
}

.mediaModal {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#mediaTitle {
    color: #901C1C;
}

/*=============================================
=                informations                 =
=============================================*/

.informations {
    width: 340px;
    padding: 1em;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 20;
    background-color: #DB8876;
    display: flex;
    justify-content: space-between;
}

.informations>span {
    display: flex;
    align-items: center;
}

.informations_likes-number {
    margin-left: 5px;
}

.informations_img-heart {
    margin-left: 5px;
}

.informations_price {
    margin-right: 5px;
}

/*=============================================
=                    heart                 =
=============================================*/

.heart {
    cursor: pointer;
}

.heart:hover {
    transform: scale(1.1);
}

.heart.active {
    filter: brightness(2);
}

/*=============================================
=                    RWD                     =
=============================================*/
@media screen and (max-width: 1440px) {
    /* presentation */

    .photograph-header {
        margin: 0 4%
    }

    .photograph-header h1 {
        margin: 0;
    }

    @media screen and (max-width:850px) {

        /* presentation */

        .photograph-header {
            height: unset;
            flex-direction: column-reverse;
        }

        .photograph-header_presentation {
            text-align: center;
        }

        .photograph-header {
            padding: 4%;
        }

        .photograph-header_contact_button {
            margin: 8% 0;
        }

        /* filter */

        .new-select-wrapper {
            flex-direction: column;
            margin: 40px auto 130px;

        }

        .new-select {
            margin: 10px auto 40px;
        }

        .listboxContainer {
            top: 40px;
            left: unset;
        }

        /* portfolio */

        .portfolio {
            display: flex;
            flex-direction: column;
            padding: 0 0 60px 0;
            margin: 0 4%;
        }

        .portfolio_media-container {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }

        .portfolio_picture,
        .portfolio_video {
            width: 100%;
        }

        /* slider */

        #slider_modal .content {
            flex-direction: column;
            height: 90%;
            width: 100%;
        }

        #slider_modal .closeBtn {
            top: 2.375em;
            right: 1.563em;
        }

        #prevBtn {
            align-self: flex-start;
        }

        #nextBtn {
            align-self: flex-end;
        }

        #mediaContainer {
            height: 60vh;
            padding: 0;
        }

        #slider_modal .content {
            height: 100%;
        }

        #prevBtn::before,
        #prevBtn::after,
        #nextBtn::before,
        #nextBtn::after {
            width: 1em;
        }

        #slider_modal .mediaModal {
            height: 100%;
        }

        #mediaTitle {
            margin-left: 10px;
        }

        @media (orientation: landscape) {


            #slider_modal .content {
                height: 100%;
                width: 100%;
                display: unset;
                position: relative;
            }

            #slider_modal .closeBtn {
                top: 1em;
                right: 1em;
                z-index: 3;
            }

            #mediaContainer {
                height: unset;
                width: 100%;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .sliderBtn {
                z-index: 2;
                top: 40%;
            }

            #nextBtn {
                position: absolute;
                right: 0;
            }

            #slider_modal .mediaModal {
                height: 90vh;
                width: auto;
              }

            #mediaTitle {
                margin: 0;
            }

        }
        /* contact_modal */

        ::-webkit-scrollbar {
            display: none;
        }

        #contact_modal {
            display: flex;
            padding: 0;
        }

        #contact_modal .modal {
            width: 100%;
            margin: 0 auto;
            margin-top: 0;
            height: fit-content;
            margin-top: 10vh;
            position: static;
            transform: none;
        }

        #contact_modal .modal header {
            margin: 20px auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            position: relative;
        }

        #contact_modal .modal header h1 {
            width: 100%;
            margin-top: 0;
            font-size: 1.5em;
        }

        #contact_modal .closeBtn {
            width: 2.5em;
        }

        form {
            margin: auto;
        }

        form div {
            margin-bottom: 80px;
        }

        form label {
            font-size: 1.4em;
        }

        /* informations */

        .informations {
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
        }

    }
}