@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:focus-visible, img:focus-visible, div:focus-visible{
    outline: none;
    border: 2px solid #ee6041;
}

dialog:focus-visible {
    border: 2px solid #ee6041;;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer_section article p {
    line-height: 30px;
    margin-top: 0;
}

.photographer_section article p span:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #901C1C
}

.photographer_section article p span:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/*=============================================
=                    RWD                     =
=============================================*/

@media screen and (max-width:1110px) {

    .photographer_section {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width:830px) {

        header {
            flex-direction: column;
        }

        h1 {
            margin-right: 0;
        }

        .logo {
            margin-left: 0;
            margin-top: 20px;
        }

        .photographer_section {
            grid-template-columns: 1fr;
        }
    }
}